/* src/css/layoutcss/navbar.css */
body {
  font-family: "Kumbh Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: white;
}

header img {
  height: 20px;
  width: auto;
  margin-right: 8px;
}

header .open-menu-btn,
.close-menu-btn {
  background: transparent;
  border: none;
}

header .navigation-desktop {
  display: none;
}

header .navigation-mobile {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 40%;
  left: 0;
  z-index: 100;
  background-color: white;
  padding: 20px;
  gap: 30px;
}

header .navigation-mobile.show {
  display: flex;
}

header .navigation-mobile img {
  width: 17px;
  height: 17px;
  display: block;
  margin-bottom: 30px;
}

header .navigation-mobile a {
  color: black;
  text-decoration: none;
  font-size: 19px;
}

header .right-header {
  position: relative;
}

header .right-header .cart-count {
  position: absolute;
  font-size: 10px;
  top: -5px;
  left: 25%;
  color: hsl(26, 98%, 51%);
  z-index: 101;
  background-color: white;
}
