/* :root {
  --background-color: ;
  --primary-color: gold;
  --secondary-color: whitesmoke;
  --link-color: #0000EE;
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

input,
button,
select {
  border: none;
  outline: none;
  height: 30px;
  border-radius: 2px;
  padding: 0px 10px;
  transition: 0.5s ease-in-out;
}

/* button:hover {
  scale: 0.9;
  opacity: 0.8;
} */

a:link {
  color: white; /* DodgerBlue */
}

/* a:visited {
  color: #9400d3;
} */

/* Hover link */
a:hover {
  color: rgb(207, 179, 17); /* OrangeRed */
}

/* Active link */
a:active {
  color: #ff6347; /* Tomato */
}

/*Dont Change */

/* global flex styles*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
